<% if (title) { %>
    <h1><%- title %></h1>
    <%} else {
        res.redirect('/')
    } %>

    <%- messages()%>

    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

      <h2>Welcome!</h2>
      <p>You've successfully logged in.</p>