<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/layouts/layout.ejs') %>
</head>
<body>
    <div id="wrapper">
        <!-- Specific content for the page -->
        <h1>Welcome to Our Car Dealership!</h1>
        <!-- Other content goes here -->
    </div>
</body>
</html>
