<div id="wrapper">
    <main>
        <h1>Inventory Management</h1>
        
        <% if (messages && messages.notice) { %>
            <div class="flash-messages">
                <% messages.notice.forEach(function(message) { %>
                    <div class="alert alert-info"><%= message %></div>
                <% }) %>
            </div>
        <% } %>

        <ul>
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Inventory</a></li>
        </ul>
    </main>
</div>
