<div id="wrapper">
    <main>
        <h1>Vehicle Management</h1>
        
        <% if (messages && messages.notice) { %>
            <div class="flash-messages">
                <% messages.notice.forEach(function(message) { %>
                    <div class="alert alert-info"><%= message %></div>
                <% }) %>
            </div>
        <% } %>

        <ul>
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Inventory</a></li>
        </ul>
        <!-- New elements -->
        <h2>Manage Inventory</h2>
        <p>Select a classification from the list to see the items belonging to the classification.</p>

        <% if (classificationSelect) { %>
        <%- classificationSelect %>
        <% } %>

        <table id="inventoryDisplay"></table>

        <noscript>JavaScript must be enabled to use this page.</noscript>
        <script src="../../js/inventory.js"></script>
            </main>
        </div>
